:root {
   --buttonTransitionProperty: box-shadow, border-radius, background-color,
      color;
   --buttonsGapV: 6px;
   --buttonsGapH: 12px;
}

#top {
   div .avia-button,
   .button,
   .wp-block-button a,
   .av-menu-button .menu-item-inner {
      font-size: var(--buttonSize, 16px);
      line-height: 1;
      font-family: var(--bodyFontFamily);
      font-weight: var(--semibold);
      padding: var(--buttonPadding, 12px 23px);
      color: var(--buttonColor, var(--altHeadingColor));
      background: var(--buttonBgColor, var(--headingColor));
      border-radius: var(--buttonBorderRadius, 6px);
      display: inline-block;
      transition-property: var(--buttonTransitionProperty);
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      text-decoration: none;
      &:hover {
         --buttonBorderRadius: 2px;
         opacity: 1;
      }
   }

   div .avia-color-default,
   div .avia-color-primary,
   .avia-color-green,
   .button,
   .wp-block-button a,
   .menu-button .menu-item-inner {
      --buttonColor: var(--colorWhite);
      --buttonBgColor: linear-gradient(180deg, #255732 0%, #22462c 100%);

      box-shadow: none;

      &:hover {
         transform: translateY(-1px);
      }
      &:active {
      }
   }

   div .avia-button {
      /* Sizes */
      &.avia-size-small {
         --buttonPadding: 14px;
      }
      &.avia-size-medium {
         --buttonPadding: 14px 23px;
      }
      &.avia-size-large {
         --buttonPadding: 17px 60px;
      }

      /* Styles/Colors */
      &.avia-color-secondary,
      &.avia-color-blue {
         --buttonBgColor: linear-gradient(180deg, #fbf75e 0%, #d8d43a 100%);
         --buttonColor: var(--colorGreenDark);
         //box-shadow: inset 0 0 0 2px var(--color2);
      }

      &.avia-color-tertiary {
         --buttonBgColor: transparent;
         --buttonColor: var(--colorGreenDark);
         padding: 11px 20px;
         --buttonColor: var(--colorGreenPrimary);
         font-weight: var(--regular);
         border: 1px solid var(--colorGreenPrimary);
         position: relative;
         &:after {
            width: 41px;
            height: 41px;
            border-radius: 6px;
            content: "";
            position: absolute;
            top: -1px;
            right: -32px;
            background-color: var(--colorGreenPrimary);
         }
    
      }
      // Buttons with Icons

      &[class*="icon_select-yes"] {
         display: inline-flex;
         align-items: center;
      }
      &.avia-icon_select-yes-right-icon {
         .avia_button_icon {
            margin-left: var(--buttonIconGap, 10px);
            left: 0;
         }
      }
      &.avia-icon_select-yes-left-icon {
         .avia_button_icon {
            margin-right: var(--buttonIconGap, 10px);
            left: 0;
         }
      }
   }

   .avia-buttonrow-wrap,
   .wp-block-buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &.avia-buttonrow-left,
      &.is-content-justification-left {
         justify-content: flex-start;
      }
      &.avia-buttonrow-center,
      &.is-content-justification-center {
         justify-content: center;
      }
      &.avia-buttonrow-right,
      &.is-content-justification-right {
         justify-content: flex-end;
      }
      &.is-content-justification-space-between {
         justify-content: space-between;
      }
   }
   .avia-buttonrow-wrap {
      margin-left: calc(var(--buttonsGapH) * -1);
      margin-right: calc(var(--buttonsGapH) * -1);
      .avia-button {
         margin: var(--buttonsGapV) var(--buttonsGapH) !important;
      }
   }
   .wp-block-buttons {
      .wp-block-button {
         margin-top: var(--buttonsGapV);
         margin-bottom: var(--buttonsGapV);
         &:not(:last-child) {
            margin-right: var(--buttonsGapH);
         }
      }
   }
   @media only screen and (max-width: 989px) {
      .avia-buttonrow-wrap {
         &.avia-buttonrow-tablet-center {
            justify-content: center;
         }
         &.avia-buttonrow-tablet-right {
            justify-content: flex-end;
         }
         &.avia-buttonrow-tablet-left {
            justify-content: flex-start;
         }
      }
   }
   @media only screen and (max-width: 767px) {
      .avia-buttonrow-wrap {
         &.avia-buttonrow-mobile-center {
            justify-content: center;
         }
         &.avia-buttonrow-mobile-right {
            justify-content: flex-end;
         }
         &.avia-buttonrow-mobile-left {
            justify-content: flex-start;
         }
      }
   }
}
