#top {
   .alternative-subheading {
      margin-bottom: 50px;
      .av-special-heading-tag {
         line-height: 1 !important;
      }
      .av-subheading {
         font-size: 32px;
         font-weight: var(--semibold);
         color: var(--colorGrayDark);
         margin: 0;
      }
   }
}
