:root {
   --scrollBarWidth: 0px;

   --colorWhite: #fff;
   --colorBlack: #000;

   --colorGreenPrimary: #255732;
   --colorGreenSecondary: #8bba34;
   --colorGreenDark: #2d3632;
   --colorGreenAlternate: #22462c;
   --colorYellowPrimary: #d8d43a;
   --colorYellow2: #fbf75e;

   --colorGreenLight: #f5f7eb;

   --colorGrayLight: #b6b6b6;
   --colorGrayLight2: #5e5e5e;

   /* Fonts */
   --headingFontFamily: "Poppins", sans-serif;
   --bodyFontFamily: "Inter", sans-serif;

   --regular: 400;
   --semibold: 600;
   --medium: 500;
   --bold: 700;
}

/*
Hides all Flickity slides except for the first, until the Flickity is fully loaded (.flickity-enabled).
Additionally, this will not apply to Sliders that have the "watchCSS" parameter enabled (.ep-flickity-watch-css)
*/
.ep-flickity-slider:not(.flickity-enabled):not(.ep-flickity-watch-css)
   .ep-flickity-slide:not(:first-child) {
   display: none;
}
sup {
   font-size: 0.8em;
   vertical-align: super;
}
sub {
   font-size: 0.8em;
   vertical-align: sub;
}

#wpadminbar {
   --listInnerGap: 0 !important;
   --listGap: 0 !important;
}

#wpadminbar ul li,
#wpadminbar ul li {
   list-style: none;
}
#wpadminbar ul li:after,
#wpadminbar ul li:before {
   content: normal !important;
}
